<div class="container mt-4 primary-bg app-shell text-white">
  <h1>นโยบายความเป็นส่วนตัว</h1>
  <p>
    <b>1. เกี่ยวกับนโยบายนี้</b>
    <br>นโยบายนี้อธิบายวิธีที่เราประมวลผลข้อมูลส่วนบุคคลของคุณในเว็บแอพพลิเคชั่น Rist
  </p>
  <p>
    <b>2. สิทธิ์และการควบคุมข้อมูลส่วนบุคคลของคุณ</b>
    <br>กฎหมายความเป็นส่วนตัวหลายฉบับให้บุคคลมีสิทธิ์ในข้อมูลส่วนบุคคลของตน
    กฎหมายเหล่านี้รวมถึงกฎระเบียบให้ความคุ้มครองข้อมูลส่วนบุคคลของผู้บริโภคหรือ "GDPR"
    <br>โดยคุณรับทราบถึงข้อมูลส่วนบุคคลเกี่ยวกับคุณที่เราประมวลผลและวิธีที่เราประมวลผลเราจะแจ้งคุณโดยผ่านนโยบายความเป็นส่วนตัวนี้
    ขอการเข้าถึงข้อมูลส่วนบุคคลเกี่ยวกับคุณที่เราประมวลผลโดยคุณสามารถเข้าไปกดดูผ่นทางข้อมูลของบัญชีผู้ใช้ที่คุณทำการลงทะเบียนเอาไว้ได้
  </p>
  <p>
    <b>3. ข้อมูลส่วนบุคคลเกี่ยวกับคุณที่เราเก็บรวบรวม</b>
    <br>ข้อมูลผู้ใช้ที่เราเก็บได้แก่ ชื่อจริง นามสกุล ชื่อโปรไฟล์ อีเมล และรหัสผ่าน
	  ข้อมูลที่เก็บจากทางเว็บแอพพลิเคชั่น Rist คือ เพลย์ลิสต์ที่คุณสร้าง
  </p>
</div>
