.register-block {
  position: relative;
  z-index: 1;
}

.register-background {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #d9d9d9;
}

.register-shadow {
  content: "";
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #959595;
  transform: translate(0.5rem, 0.5rem);
}

.register-above-text > h1 {
  font-size: 3rem;
  font-weight: 450;
  text-align: center;
}

.register-above-text > h3 {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

.register-bg {
  min-height: 100vh;
}

.form-control::placeholder {
  color: #d3d3d3;
  opacity: 1; /* Firefox */
}

.form-control {
  border-radius: 0;
  background-color: #aaaaa9;
  color: white !important;
  border: none;
}

.my-input {
  position: relative;
}

.my-input::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #faffc0;
  transform: translate(0.25rem, 0.25rem);
}

.back-btn {
  transform: translateY(-125%);
}
