<nav class="navbar navbar-expand-lg navbar-dark my-navbar">
  <a class="navbar-brand" routerLink="/home">
    <img src="assets/icon/rist_logo_2.png" alt="" width="80" height="50" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let navItem of navItems" class="nav-item">
        <a class="nav-link" [routerLink]="navItem.routerLink"
          ><i [class]="navItem.icon"></i
          ><span class="pl-1">{{ navItem.title }}</span></a
        >
      </li>
    </ul>
    <app-search-bar></app-search-bar>
    <a class="nav-link" routerLink="/user-profile"
      ><i class="bi bi-person-circle" style="font-size: 2rem"></i
    ></a>
  </div>
</nav>
